apiVersion: v1
kind: Secret
metadata:
  name: gar-pull-secret
  namespace: techshop
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "{{ gar_registry_host }}": {
          "username": "_json_key",
          "password": {{ gar_key_content | to_json }},
          "email": "admin@techshop.local",
          "auth": "{{ ('_json_key:' ~ gar_key_content) | b64encode }}"
        }
      }
    }
