// File: main.scss

// 1. Thay đổi dòng này:
@use "./tokens/colors"; // Trước đây là @use "./tokens/neutral";

@use "./base/background";
@use "./base/status";
@use "./tokens/theme";
@use "./base/reset";
@use "./base/typography";
@use "./base/font";
@use "./layout/layout";

// Các components khác giữ nguyên
@use "./components/button";
@use "./components/forms";
// @use "./components/avatar";
// @use "./components/spinner";
// @use "./components/table";
// @use "./components/modal";
// @use "./components/badge";
// @use "./components/pagination";
@use "./components/tab";
// @use "./components/upload";
@use "./components/input";
@use "./components/loading";
@use "./components/megamenu";
@use "./components/product-card";

/* App-specific helpers */
body {
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.card {
  border-color: var(--bs-border-color);
  border-radius: var(--bs-border-radius-lg);
}