# fix line endings for Windows/Linux cross-platform consistency
* text=auto

# Terraform HCL files
*.tf text eol=lf
*.tfvars text eol=lf
*.tfvars.example text eol=lf

# Ansible YAML files
*.yml text eol=lf
*.yaml text eol=lf
*.j2 text eol=lf
*.ini text eol=lf
*.cfg text eol=lf

# Markdown
*.md text eol=lf
