[Unit]
Description=Prometheus TSDB
After=network.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart={{ prometheus_install_dir }}/prometheus \
  --config.file={{ prometheus_install_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ prometheus_retention_time }} \
  --web.listen-address=0.0.0.0:{{ prometheus_port }} \
  --web.enable-remote-write-receiver
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
