[defaults]
inventory          = inventory/hosts.ini
roles_path         = roles
remote_user        = admin_sontx_online
host_key_checking  = False
retry_files_enabled = False
stdout_callback    = yaml
gathering          = smart
fact_caching       = memory
allow_world_readable_tmpfiles = True

[privilege_escalation]
become       = true
become_method = sudo
become_user  = root
