[Unit]
Description=Grafana Loki
After=network.target

[Service]
Type=simple
User=loki
Group=loki
ExecStart=/usr/local/bin/loki -config.file={{ loki_install_dir }}/loki-config.yml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
