# Managed by Ansible
bind {{ redis_bind_ip }}
protected-mode no
port {{ redis_port }}
daemonize no
supervised systemd
pidfile /run/redis/redis-server.pid
loglevel notice
logfile /var/log/redis/redis-server.log

dir /var/lib/redis
appendonly {{ redis_appendonly }}
appendfsync everysec

maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
